* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
}

nav {
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 7%;
	padding-right: 7%;
	list-style-type: none;
}

nav	.nav-logo {
	display: inline;
}

.right-nav {
	float: right;
}

nav .nav {
	margin: 1rem;
	display: inline;
	position: sticky;
	font-weight: bold;
}

.tuitt-button {
	color: white;
	font-size: 1rem;
	font-weight: bold;
	height: 45px;
	width: 120px;
	border: 0;
	border-radius: 25px;
	background-color: #c2195b;
}

#bg-image {
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    min-height: 48vh;
    background-repeat: no repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: scroll;
    margin-bottom: 100px;
}

#bg-image .front-bg {
	background-color: black;
	opacity: 0.5;
	height: 48vh;
	backgroud
}

.front-bg {
	color: white;
	text-align: right;
	padding-right: 10%;
	padding-left: 60%;
}

.title {
	font-family: 'Zilla Slab';
	margin-bottom: 25px;
	font-size: 3rem;
}

.subtitle {
	margin-bottom: 25px;
}

.apply-button {
	color: white;
	background-color: #c2195b;
	border-radius: 25px;
	border: 0;
	width: 160px;
	height: 45px;
	font-size: 1.2rem;
	position: relative;
}

.intro .title-2 {
	text-align: center;
	margin-bottom: 100px;
	padding-left: 15%;
	padding-right: 15%;
	font-size: 3rem;
}

.intro .intro-description {
	text-align: left;
	margin-bottom: 100px;
	padding-left: 17%;
	padding-right: 17%;
	font-size: 1.1rem;
	font-weight: bold;
}


.title-2 {
	font-family: "Zilla Slab", serif;
}

.pre-footer {
	min-height: 200px;
	text-align: center;
	background-color: #f7fbfb;
	margin-bottom: 20px;
}

.pre-footer .title-2 {
	padding: 1.5rem;
}

.pre-footer .prefooter-description {
	padding: 1.5rem;
}

.book-button {
	width: 150px;
	color: white;
	background-color: #336589;
	height: 2.5rem;
	border-radius: 25px;
	border:	0;
	padding: 10px;
}

footer {
	text-align: center;
}